In [1]:
import pandas as pd
import time

In [2]:
df = pd.DataFrame({'Time': ['212600', '173107', '110750', '162000', '0', '150222', '212500', '0', '61643', '0', '1151', '125154']})

In [3]:
df

      Time
0   212600
1   173107
2   110750
3   162000
4        0
5   150222
6   212500
7        0
8    61643
9        0
10    1151
11  125154

In [4]:
def to_time(string):
    if len(string) == 6:
        string = [x for x in string]
        string.insert(2, " ")
        string.insert(5, " ")
        string = ''.join(string)
    elif len(string) == 4:
        string = [x for x in string]
        string.insert(2, " ")
        string.insert(5, " 00")
        string = ''.join(string)
    elif len(string) == 2:
        string = [x for x in string]
        string.insert(2, " 00 00")
        string = ''.join(string)
    else:
        string = "00 00 00"
    return string

In [5]:
df['new_time'] = df.Time.apply(lambda x: to_time(x))

In [6]:
df['the_time'] = pd.to_datetime(df['new_time'], format='%H %M %S').dt.time

In [7]:
df

      Time  new_time  the_time
0   212600  21 26 00  21:26:00
1   173107  17 31 07  17:31:07
2   110750  11 07 50  11:07:50
3   162000  16 20 00  16:20:00
4        0  00 00 00  00:00:00
5   150222  15 02 22  15:02:22
6   212500  21 25 00  21:25:00
7        0  00 00 00  00:00:00
8    61643  00 00 00  00:00:00
9        0  00 00 00  00:00:00
10    1151  11 51 00  11:51:00
11  125154  12 51 54  12:51:54